body {
  margin: 0;
  background-color: #FFF;
  font-family:
    "Helvetica Neue",
    "YuGothic",
    "Yu Gothic",
    "游ゴシック",
    'Noto Sans JP',
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    sans-serif;
}

main {
  display: flex;
  width: 100%;
}

@import './components/global-nav.scss';
@import './components/main.scss';
